body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.card {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
    width: 500px;
    box-shadow: 0px 0px 10px 0px #000;
}

.card-header h3 {
    color: #fff;
    align-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.input-group.form-group {
    margin-bottom: 15px;
}

.input-group.form-group .form-control {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
    padding: 15px;
}

.input-group.form-group .form-control::placeholder {
    color: #aaa;
}

.input-group.form-group .form-control:focus {
    box-shadow: none;
    border: 1px solid #fff;
}

.btn.login_btn {
    background: #ffaf7b;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn.login_btn:hover {
    background: #d76d77;
}

.card-footer {
    text-align: center;
    margin-top: 5px;
}

.card-footer .links a {
    color: #ffaf7b;
    text-decoration: none;
}

.card-footer .links a:hover {
    text-decoration: underline;
}
